<div data-turbo="false">
<%= form_with(model: message) do |form| %>
  <% unless message.has_errors.nil? %>
      <p style="color: red">Nachricht konnte nicht abgeschickt werden. Bitte nochmal versuchen</p>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.label "Nachricht", style: "display: block" %>
    <%= form.text_area :message, rows: 5, required: true %>
  </div>

  <% if @message.id %>
  <div>
    <%= form.label :read, style: "display: block" %>
    <%= form.check_box :read %>
  </div>
  <% end %>

  <div style="margin-top: 1rem;">
    <%= hcaptcha_tags theme: :light, hl: 'de' %>
  </div>

  <div>
    <%= form.submit "Absenden" %>
  </div>
<% end %>
</div>
