<%# locals: (message:) %>

<form data-hx-post="<%= messages_path %>" data-turbo="false">
  <%= method_tag(:post) %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= render('components/text_field',
             object: 'message',
             method: :name,
             value: message.name,
             label: "Name *",
             icon: 'address-card',
             placeholder: "Name",
             error: message.errors['name'].first) %>

  <%= render('components/text_field',
             object: :message,
             method: :email,
             value: message.email,
             label: "Email *",
             icon: :envelope,
             placeholder: "Email",
             type: :email,
             error: message.errors['email'].first) %>

  <%= render('components/text_field',
             object: :message,
             method: :message,
             value: message.message,
             label: "Nachricht *",
             icon: :message,
             placeholder: "Nachricht",
             type: :textarea,
             error: message.errors['message'].first) %>

  <% unless ENV['RAILS_ENV'] == 'development' || ENV['RAILS_ENV'] == 'test' %>
    <div style="margin-top: 1rem;">
      <%= hcaptcha_tags theme: :light, hl: 'de' %>
      <script>
          hcaptcha.render(document.querySelector('.h-captcha'))
      </script>
    </div>
  <% end %>

  <%= render 'components/button', text: 'Absenden', icon: 'arrow-right', color: 'galaxy-blue' %>
</form>
