<form hx-post="<%= messages_path %>"
      hx-swap="outerHTML"
      class="message-form">
  <%= yield %>

  <p>* = Pflichtfelder</p>
  <br>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= render(TextInputComponent.new 'Name', 'message[name]', message.name, required: true, error_msg: message.errors[:name].first) %>
  <%= render(TextInputComponent.new 'Email', 'message[email]', message.email, required: true, error_msg: message.errors[:email].first) %>
  <%= render(TextInputComponent.new 'Nachricht', 'message[message]', message.message, type: :textarea, required: true, error_msg: message.errors[:message].first) %>

  <%# TODO: add friendly captcha %>

  <div class="message-form__submit-row">
    <%= render(ButtonComponent.new 'Abschicken', classes: 'message-form__submit-btn', style: 'secondary') %>
  </div>
</form>


<%# hcaptcha %>
<%# ######## %>
<%# <div style="margin-top: 1rem;"> %>
<%#   <%= hcaptcha_tags theme: :light, hl: 'de' %1> %>
<%#   <script> %>
<%#   hcaptcha.render(document.querySelector('.h-captcha')) %>
<%#   </script> %>
<%# </div> %>
