<div>
  <%= render_breadcrumbs %>
</div>

<h1>Kinderanmeldungen</h1>

<%= form_with url: children_path, method: :get do |form| %>
  <label for="year">Campjahr</label>
  <select name="year" onchange="this.parentNode.requestSubmit()">
    <% @campyears.each do |campyear| %>
      <option <%= 'selected' if @year == campyear %> value="<%= campyear %>">
        <%= campyear %>
      </option>
    <% end %>
  </select>
<% end %>
<br>

<%= link_to new_child_registration_path, class: '--bordered' do %>
  <%= forticon 'user-plus', height: 18, style: "margin-right: var(--spacing-sm)" %>
  Kind hinzufügen
<% end %>
<br>
<%= link_to excel_children_path(format: "xlsx"), class: '--bordered' do %>
  <%= forticon 'file-excel', height: 18, style: "margin-right: var(--spacing-sm); color: green" %>
  Anmeldeliste als Excel herunterladen
<% end %>

<br>

<style>
  .child-table-scrollable {
      overflow-x: scroll;
  }

  .child-table {
      border-collapse: collapse;
      width: 100%;
  }

  .child-table tr,
  .child-table td,
  .child-table th {
      border: 1px solid black;
  }

  .child-table td,
  .child-table th {
      padding: 0 .5rem;
  }
</style>
<div class="child-table-scrollable">
  <table class="child-table">
    <tr>
      <th>Link</th>
      <th>Nachname</th>
      <th>Vorname</th>
      <th>Elternname</th>
      <th>Jahrgang</th>
      <th>Camp</th>
    </tr>
    <% @children.each do |c| %>
    <tr>
      <td><a href="<%= child_path c %>"><%= forticon :link, height: 16 %></a></td>
      <td><%= c.surname %></td>
      <td><%= c.forename %></td>
      <td><%= c.parent.forename %></td>
      <td><%= c.birthday.year %></td>
      <td><%= c.camp.name %></td>
    </tr>
    <% end %>
  </table>
</div>
