<form method="post" action="<%= form_path %>">

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= render TextInputComponent.new 'Name', 'download[name]', download.name, classes: 'mb-16' %>
  <%= render TextInputComponent.new 'Interne Beschreibung', 'download[description]', download.description, classes: 'mb-16' %>

  <%= render TextInputComponent.new 'Im Downloadbereich anzeigen? (true, false)', 'download[download_area]', download.download_area, classes: 'mb-32' %>

  <%# 'download file' %>
  <%#  <div class="mb-24"> %>
    <%#= form.label :file, 'Datei', style: "display: block" %>
    <%#= render 'formelements/errormsg', record: download, field: :file %>
    <%#= form.hidden_field :file, value: download.file.signed_id if download.file.attached? %>
    <%#= form.file_field :file %>
  <%#  </div> %>

  <%# 'possible errors' %>

  <%= render IconButtonComponent.new icon: :check, text: 'Speichern', classes: "download-modal__save mb-16"%>
</form>
