<hgroup>
  <h1>Developer space</h1>
  <p>Various design elements</p>
</hgroup>

<br>
<%= form_with model: V2::Parent.new, url: '#' do |form| %>
  <%= render 'child_registrations/checkbox-dialog', form: form, field: :liability_exclusion, label: 'Test checkbox' do %>
    <%= raw Page.where(url: 'eltern_haftungsausschluss').first&.content || 'error' %>
  <% end %>
  <%= link_to '> Test', '#test', target: :blank %>
<% end %>
<br>
<hr>

<h2>Typography</h2>

<div>
  <% 1.upto(6).each do |i| %>
  <h<%= i %>>h<%= i %> - Text</h<%= i %>>
  <% end %>
</div>


<h2>Colors</h2>

<div style="display: flex; gap: 1rem; flex-direction: column;">
  <% ["gray", "blue", "red"].each do |color| %>
  <div>
    <h3><%= color %></h3>
    <div style="display:flex;">
      <div style="display: inline-block; height: 2rem; width: 1.5rem; background-color: var(--<%= color %>-100);"></div>
      <div style="display: inline-block; height: 2rem; width: 1.5rem; background-color: var(--<%= color %>-200);"></div>
      <div style="display: inline-block; height: 2rem; width: 1.5rem; background-color: var(--<%= color %>-300);"></div>
      <div style="display: inline-block; height: 2rem; width: 1.5rem; background-color: var(--<%= color %>-400);"></div>
      <div style="display: inline-block; height: 2rem; width: 1.5rem; background-color: var(--<%= color %>-500);"></div>
      <div style="display: inline-block; height: 2rem; width: 1.5rem; background-color: var(--<%= color %>-600);"></div>
    </div>
  </div>
  <% end %>
</div>

<br>
<h2>Design elements</h2>

<br>
<h3>hgroup</h3>
<br>
<hgroup>
  <h1>A larger header</h1>
  <h5>With a smaller explaining title</h5>
</hgroup>

<h3>articles</h3>
<article>
  <h4>these small things</h4>
  <p>which are card like and have a nice background shadow effekt</p>
</article>

<h3>Radio Groups</h3>
<form action="" method="get">
  <div class="radio-group">
    <label class="radio-group__button">
      <input class="radio-group__input" type=radio name=rtest value=r1 checked onclick="this.closest('form').requestSubmit()">
      <span class=radio-group__label>b1</span>
    </label>


    <label class="radio-group__button">
      <input class="radio-group__input" type=radio name=rtest value=r2 onclick="this.closest('form').requestSubmit()">
      <span class=radio-group__label>b2</span>
    </label>
  </div>
</form>

<br>
<div>
  <h3>Buttons</h3>

  <%= render 'components/button', text: 'Sample' %>
  <%= render 'components/button', text: 'Sample', icon: 'arrow-right' %>
  <%= render 'components/button', text: 'Sample', icon: 'arrow-left', icon_pos: :left %>
</div>

<br>
<div>
  <h3>Inputs</h3>

  <%= render('components/text_field',
             object: :dev,
             method: :one,
             value: '',
             label: "Email *",
             icon: :envelope,
             placeholder: "One",
             type: :email,
             error: 'email wrong') %>

  <%= render('components/text_field',
             object: :dev,
             method: :two,
             value: 'this is the value',
             label: "Nachricht *",
             icon: :message,
             placeholder: "Two",
             type: :textarea,
             error: 'too long message') %>
</div>
