<%= stylesheet_link_tag "login" %>

<div class="container">
  <h1 class="mb-16">Login</h1>

  <div class="login-container">
    <%= forticon :lock, height: 128, class: 'login-banner-img' %>

    <%= form_with html: {class: 'login-form'} do |form| %>
      <% if @current_user.has_read_rights %>
        <p>You are already loggin in!</p>
      <% end %>

      <% if @error %>
        <p style="color: red;">Login failed, please try again!</p>
      <% end %>

      <%= render TextInputComponent.new('Username', 'user[name]', '', classes: 'mb-16') %>
      <%= render TextInputComponent.new('Passwort', 'user[password]', '', classes: 'mb-24') %>
      <%= render ButtonComponent.new('Anmelden', style: 'primary') %>
    <% end %>
  </div>

</div>
