<%= stylesheet_link_tag "home" %>
<%= stylesheet_link_tag "message" %>

<%= render 'common/header', show_text_title: true do %>

  <div class="filler-one">
    <div class="filler-one__white-top"></div>
    <div class="filler-one__white-bottom"></div>
  </div>

<% end %>

<p style="text-align: center; margin-bottom: 3rem;">wir sind im umbau</p>

<div class="container contact" id="contact">
  <div class="mb-24 contact-title">
    <%= forticon :envelope, height: 32, class: 'contact-title__icon' %>

    <h2 class="contact-title__text">
      Kontakt
    </h2>
  </div>

  <%= render 'messages/form', message: @message %>
</div>

