<style>
  .helper-info-table {
      width: 100%;
      margin-bottom: 16px;
  }
  .helper-info-table th {
      text-align: left;
      padding-right: 8px;
  }

  .helper-info-table tr:nth-child(even) {
      background-color: #0000000a;
  }
</style>
<table class="helper-info-table">
  <tr>
    <th>Geburtstag:</th>
    <td><%= l helper.birthday %></td>
  </tr>
  <tr>
    <th>Geburtsort:</th>
    <td><%= helper.birthplace %></td>
  </tr>
  <tr>
    <th>Telefon:</th>
    <td><%= helper.telephone %></td>
  </tr>
  <tr>
    <th>Email:</th>
    <td><%= helper.email %></td>
  </tr>
  <tr>
    <th>Straße und Hausnummer:</th>
    <td><%= helper.streethouse %></td>
  </tr>
  <tr>
    <th>PLZ Ort:</th>
    <td><%= helper.postcity %></td>
  </tr>
  <tr>
    <th>Geschichte:</th>
    <td><%= helper.story %></td>
  </tr>
  <tr>
    <th>Dienst:</th>
    <td><%= helper.duty %></td>
  </tr>
  <% unless helper.registrations.count < 2 %>
    <tr>
      <th>Bevorzugtes Camp:</th>
      <td><%= helper.preferredCamp %></td>
    </tr>
  <% end %>
</table>

<div id="<%= dom_id helper %>">
  <h2>Camp anmeldungen</h2>
  <div>
    <% helper.registrations.each do |registration| %>
      <%= render 'registrations/registration', registration: registration %>
      <br>
    <% end %>
  </div>

</div>
