<%# locals: (form:, field:, label:, required: false, placeholder: '') %>

<%= form.label field, style: "grid-area: " + field.to_s do %>
  <div class="field">
    <span><%= label %> <%= " *" if required %></span>
    <%= form.text_field field,
                        onkeydown: "this.closest('label').querySelector('.error-msg').innerHTML = ''",
                        placeholder: placeholder%>
  </div>
  <span class="field__note"><%= yield %></span>
  <span class="error-msg"><%= form.object.errors[field].first %></span>
<% end %>
