<style>
  .grid {
      display: grid;

      &.parent {
        grid-template-areas:
          "surname forename"
          "email email"
          "telephone telephone"
          "housephone housephone"
          "street house"
          "post city";

          @media (max-width: 768px) {
            grid-template-areas:
              "surname surname"
              "forename forename"
              "email email"
              "telephone telephone"
              "housephone housephone"
              "street street"
              "house house"
              "post post"
              "city city";
          }
      }

      &.child {
        grid-template-areas:
          "camp camp"
          "surname forename"
          "sex sex"
          "birthday birthday"
          "notes notes"
          "medicals medicals"
          "wishmate wishmate";

        @media (max-width: 768px) {
          grid-template-areas:
            "camp camp"
            "surname surname"
            "forename forename"
            "sex sex"
            "birthday birthday"
            "notes notes"
            "medicals medicals"
            "wishmate wishmate";
        }
      }

      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      border: 1px solid #35578e;
      background-color: #e7ecf4;

      label {
          padding: 4px 8px;
          border: .5px solid #35578e;
          margin: 0;

          .field {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            color: #35578e;
              span {
                  width: 7rem;
              }
          }

          input, select {
              flex: 1;
              border: none;
              min-width: 2rem;
              color: black;
          }
      }
      .field__note {
        font-size: .7rem;
      }
      .error-msg {
        display: block;
        color: red;
        font-size: .7rem;
      }
  }

  .child-form__header {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }

  .child-form__remove-child {
    color: red;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    border: 1px solid red;
    padding: 4px 8px;
    margin: 4px 0 0 0;
    display: inline-block;
    background-color: #fee;
  }

  .child-form__add-child {
      color: green;
      box-shadow: none;
      background-color: #efe;
      cursor: pointer;
      border: 1px solid green;
      padding: 8px 16px;
      margin: 16px 0 0 0;
      display: inline-block;
  }

  .camp-select__camp-info {
      font-size: .8rem;
  }

  .child-form__required-notices {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 48px 0;
  }

  .child-firm__general-error {
    font-size: 16px;
    color: red;
    border-left: 2px solid red;
    padding: 4px 4px 4px 16px;
      background-color: #ffeeee;
  }

  .form__submit {
      display: block;
      margin-top: 32px;
  }
</style>

<h1>Anmeldung Kinder</h1>
<div data-turbo="false">
  <%= form_with model: @parent, url: child_registrations_path,
                data: { 'hx-post': child_registrations_path, 'hx-select': 'form', 'hx-target': 'form', 'hx-swap': 'outerHTML' } do |form| %>
    <h2>Elterninfos</h2>
    <p>* = erforderlich</p>
    <div class="grid parent">
<!--      name-->
      <%= render 'child_registrations/form_input',
                  form: form,
                  field: :surname,
                  label: "Familienname",
                  required: true %>

      <%= render 'child_registrations/form_input',
                 form: form,
                 field: :forename,
                 label: "Vorname",
                 required: true %>

      <!--      contact-->
      <%= render 'child_registrations/form_input',
                 form: form,
                 field: :email,
                 label: "Email",
                 required: true %>
      <%= render 'child_registrations/form_input',
                 form: form,
                 field: :telephone,
                 label: "Telefonnr. 1",
                 required: true %>
      <%= render 'child_registrations/form_input',
                 form: form,
                 field: :housephone,
                 label: "Telefonnr. 2",
                 required: false %>

<!--      address-->
      <%= render 'child_registrations/form_input',
                 form: form,
                 field: :street,
                 label: "Straße",
                 required: true %>
      <%= render 'child_registrations/form_input',
                 form: form,
                 field: :house,
                 label: "Hausnr.",
                 required: true %>
      <%= render 'child_registrations/form_input',
                 form: form,
                 field: :post,
                 label: "PLZ",
                 required: true %>
      <%= render 'child_registrations/form_input',
                 form: form,
                 field: :city,
                 label: "Stadt",
                 required: true %>
    </div>

    <h2>Kinderinfos</h2>
    <% @parent.errors[:children].any? do %>
      <p style="color: red">
        Keine kinder ausgewaehlt
      </p>
    <% end %>

    <%= form.fields_for :children do |child_form| %>
      <h3 class="child-form__header">Kind <%= child_form.index + 1 %></h3>

      <div class="grid child">
        <div style="grid-area: camp; display: flex; justify-content: space-around;" class="camp-select">
          <% @camps.each do |camp| %>
            <%= render 'camp-select', form: child_form, camp: camp %>
          <% end %>
        </div>

        <%= render 'child_registrations/form_input',
                   form: child_form,
                   field: :surname,
                   label: "Familienname",
                   required: true %>
        <%= render 'child_registrations/form_input',
                   form: child_form,
                   field: :forename,
                   label: "Vorname",
                   required: true %>
        <%= child_form.label :sex, style: "grid-area: sex" do %>
          <div class="field">
            <span>Geschlecht *</span>
            <%= child_form.select :sex, [["Junge", :boy], ["Mädchen", :girl]],
                                          { include_blank: true },
                                          { onchange: "this.closest('label').querySelector('.error-msg').innerHTML = ''" } %>
          </div>
          <span class="error-msg"><%= child_form.object.errors[:sex].first %></span>
        <% end %>
        <%= render 'child_registrations/form_input',
                   form: child_form,
                   field: :birthday,
                   label: "Geburtstag",
                   required: true do %>
          Im Format: <i>tag.monat.jahr</i>, z.B. 24.03.2010
        <% end %>
        <%= render 'child_registrations/form_input',
                   form: child_form,
                   field: :notes,
                   label: "Notizen",
                   required: false %>
        <%= render 'child_registrations/form_input',
                   form: child_form,
                   field: :medicals,
                   label: "Medikamente / Risiko",
                   required: false %>
        <%= render 'child_registrations/form_input',
                   form: child_form,
                   field: :wishmate,
                   label: "Wunschpartner",
                   required: false do  %>
          Mit folgender Person möchte mein Kind nach Möglichkeit in eine Gruppe kommen.<br>
          <strong>Wichtig:</strong> Es handelt sich um ein Wunsch, nicht immer kann darauf eingegangen werden!<br>
          Bitte max. 1 Person eintragen.
        <% end %>
      </div>

      <% if  @parent.children.length > 1 %>
        <%= label_tag 'child-form__remove-child-' + child_form.index.to_s, class: 'child-form__remove-child' do %>
          <%= forticon :minus, height: 16 %>
           Kind <%= (child_form.index + 1).to_s %> entfernen
          <%= form.submit 'Kind ' + (child_form.index + 1).to_s + " entfernen",
                          id: 'child-form__remove-child-' + child_form.index.to_s,
                          style: 'display: none;' %>
        <% end %>
      <% end %>
    <% end %>
    <br>

    <%= label_tag 'child-form__add-child', class: 'child-form__add-child' do %>
      <%= forticon :plus, height: 16 %>
      Weiteres Kind hinzufügen
      <%= form.submit 'add-child',
                      id: 'child-form__add-child',
                      style: 'display: none;' %>
    <% end %>

    <div class="child-form__required-notices">
      <% if @parent.errors[:liability_exclusion].any? || @parent.errors[:important_information].any? || @parent.errors[:canceling_info].any? || @parent.errors[:data_protection].any? || @parent.errors[:photo_rights].any? %>
        <p class="child-firm__general-error">
          Alle folgenden Felder müssen akzeptiert werden
        </p>
      <% end %>

      <%= render 'checkbox-dialog', form: form, field: :liability_exclusion, label: 'Ich habe den Haftungsausschluss gelesen und bin damit einverstanden' do %>
        <%= raw @page_liability %>
      <% end %>

      <%= render 'checkbox-dialog', form: form, field: :important_information, label: 'Ich habe den Wichtigen Informationen gelesen und bin damit einverstanden' do %>
        <%= raw @page_important_info %>
      <% end %>

      <%= render 'checkbox-dialog', form: form, field: :canceling_info, label: 'Ich habe die geltenden Stornierungsregeln zur Kenntnis genommen' do %>
        <%= raw @page_cancel_rules %>
      <% end %>

      <div class="inline-checkbox">
        <%= form.label :data_protection, class: 'inline-checkbox__label' do %>
          <%= form.check_box :data_protection, class: 'inline-checkbox__checkbox' %>
          <span class="inline-checkbox__text">
            Ich akzeptiere die <%= link_to "Datenschutzbestimmungen", page_path("datenschutz"), style: 'display: contents; margin: 0; margin-left: .2rem; padding: 0; line-height: 1.2rem;'%>
          </span>
        <% end %>
      </div>

      <div class="inline-checkbox">
        <%= form.label :photo_rights, class: 'inline-checkbox__label' do %>
          <%= form.check_box :photo_rights, class: 'inline-checkbox__checkbox' %>
          <span class="inline-checkbox__text">
            Einwilligung zur Verwendung / Veröffentlichung von Foto- und Videomaterial
          </span>
        <% end %>
      </div>
    </div>

    <p><%= t '.info-verification-email' %></p>

    <input type="submit" value="<%= t('.button-register') %>" class="stock btn-1-0-0 blue form__submit">
    <% if @parent.errors.any? %>
      <p class="child-firm__general-error">
        Einige Fehler haben das Absenden der Anmeldung verhindert,
        bitte überprüfe alle Eingabefelder vor einer erneuten Absendung
      </p>
    <% end %>
  <% end %>
</div>
