<%# locals: (registration:) %>

<table>
  <tr>
    <th>Anmeldung Camp</th>
  </tr>
  <tr>
    <td>Camp <%= registration.camp.name %></td>
  </tr>
  <tr>
    <th>Datum des Camps</th>
  </tr>
  <tr>
    <td><%= l registration.camp.date_start %> - <%= l registration.camp.date_end %></td>
  </tr>
  <tr>
    <th>Jahrgang des Camps</th>
  </tr>
  <tr>
    <td><%= registration.camp.participants_year_start %>- <%= registration.camp.participants_year_end %></td>
  </tr>
  <tr>
    <th>Team Erstwunsch</th>
  </tr>
  <tr>
    <td><%= registration.wish_first %></td>
  </tr>
  <tr>
    <th>Team Zweitwunsch</th>
  </tr>
  <tr>
    <td><%= registration.wish_second %></td>
  </tr>
</table>
