<%= content_for :head do %>
 <%= yield :head %>
<% end %>

<%= content_for :content do %>
  <header class="header">
    <%= link_to root_path do %>
      <%= image_tag '/images/logo.png',
                    srcset: {
                      '/images/logo-sm.png': '640w',
                      '/images/logo-md.png': '1024w'
                    },
                    sizes: '100vw',
                    alt: 'logo',
                    id: 'logo',
                    data: {turbo_permanent: true} %>
    <% end %>
  </header>

  <main class="<%= 'container' if controller_name != 'home' %> <%= 'page' if controller_name == 'pages' %>">
    <%= yield %>
  </main>
<% end %>

<%= render template: "layouts/default" %>
