<!DOCTYPE html>
<html>
  <head>
    <title>Abenteuer Leben e.V.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>

    <%= yield %>

    <footer class="footer">
      <div class="footer__link-line">
        <a href="/"><strong>Startseite</strong></a>
        <a href="/login">Login</a>
      </div>
    </footer>
  </body>
</html>
